body{
    background-color: black;
}
.caixa1{
    background-image: linear-gradient(rgb(10, 10, 1), rgb(124, 124, 115));
   width: 700px;
   height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.caixa2{
    background-image: linear-gradient(rgb(175, 137, 10), rgb(218, 176, 88));
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
   align-items: center;
}
input{
    height: 30px;
    width: 150px;
}

