body{
    background-image: linear-gradient(rgb(87, 87, 87), black);
}
.caixa1{
   background-color: rgb(97, 97, 97);
   width: 700px;
   height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 120px;
   border: solid 1px goldenrod
}
.caixa2{
    background-color: black;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
   border: solid 5px goldenrod
}
input{
    height: 30px;
    width: 280px;
}

