body{
    margin: 0;
}
h1{
    font-size: 50px;
}
.logo{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.Lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 19px; 
    margin: 10px;
}
.Lista1{
     background-color: rgb(245, 238, 238);
     width: 100px;
}
.Principal{
    background-color: white;
    width: 1400px; border: solid 2px white;
    height: 300px;
    text-align: center;
}
h3{
    font-size: 40px;
}
.Tudo{
    display: flex;
}
.Menu{
    background-color: black;
    color: white;
    height: 790px;
    width: 230px;
    text-align:center;
    border: solid 5px white;
    margin: 0px;
    border-left-width: 0px;
}


