body{
    margin: 0;
}
h1{
    font-size: 50px;
    color: rgb(163, 83, 83);
}
.logo{
    background-color: rgb(59, 4, 4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.Lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 19px; 
    margin: 10px;
    color: rgb(163, 83, 83);;
}
.Lista1{
     background-color: rgb(163, 83, 83);
     width: 100px;
}
.Principal{
    background-color:pink;
    width: 1800px; border: solid 2px pink;
    height: 1500px;
    text-align: center;
}
h3{
    font-size: 40px;
}
.Tudo{
    display: flex;
}
.Menu{
    background-color: rgb(59, 4, 4);
    color: rgb(163, 83, 83);
    height: 1500px;
    width: 230px;
    text-align:center;
    border: solid 5px pink;
    margin: 0px;
    border-left-width: 0px;
}


